{% extends 'TechforlineMainBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Add your order
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}