{% extends 'TechforlineMainBundle:Default:base.html.twig' %}
{% block title %}Login!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if error %}
                    <p class="text-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </p>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-lg btn-success">
                        Login!
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}